@model DSDD.DebatniMayhem.Web.Pages.Shared.ActiveTopicModel

@if (!Model.ShowTopic)
{

    <p class="alert alert-warning" role="alert">
        Teze je skrytá!
    </p>
}

@if (Model.ShowInfoSlide || Model.ShowTopic)
{
    <div class="card bg-light mb-3">
        @if (Model.ShowTopic)
        {
            <div class="card-body text-white bg-dark">
                <h6 class="card-text">@Model.Topic</h6>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.InfoSlide) && (Model.ShowInfoSlide || Model.ShowTopic))
        {
            <div class="card-header">
                <strong>Info slide:</strong> <br />
                @Model.InfoSlide
            </div>
        }
    </div>
}
