@page
@model ErrorModel
@{
    ViewData["Title"] = "Chyba";
}

<h1 class="text-danger">Chyba :(</h1>
<h2 class="text-danger">Najdi si někoho z TABu a předej mu následující údaje.</h2>

<p>
    @if (!string.IsNullOrEmpty(Model.RequestId))
    {       
        <strong>Request ID:</strong> <code>@Model.RequestId</code><br/>   
    }
    <strong>Text chyby:</strong> <code>@(Model.Error ?? "¯\\_(ツ)_/¯")</code>
</p>