@page
@model IndexModel
@{
    ViewData["Title"] = "Aktuální debata";
}

@if (Model.Round is null) {
    <p>V tuto chvíli neprobíhá žádné kolo turnaje.</p>
}
else
{
    <div class="w-100">
        <h4>Teze</h4>

        @await Html.PartialAsync("_ActiveTopic", Model.Round.Topic)
    </div>

    <div class="w-100">
        <h4>Rozdělení do debat</h4>

        @await Html.PartialAsync("_MatchesTable", Model.Round.Matches)   
    </div>
}
